body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.stats {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
}

.author {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 40%;
}

.author img {
  width: 200px;
}

.quiz {
  width: 40%;
}

.quizBox {
  margin: auto 0;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .quizBox {
    flex-direction: column;
    align-items: center;
  }
  .quiz {
    width: 100%;
  }
  .author {
    width: 80%;
  }
  .stats {
    font-size: 12px;
  }
}
