.quizItem {
  background: grey;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}

.quizItem:hover {
  background: black;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .quizItem:hover {
    background: grey;
    transition: 0;
    cursor: pointer;
  }
  .quizItem {
    background: grey;
    color: white;
    text-align: center;
    padding: 1px;
    border-radius: 5px;
    margin: 5px;
    font-size: 12px;
  }
}
